<template>
  <div class="calculator">
    <div class="display">{{ displayValue }}</div>
    <div class="buttons">
      <div class="row">
        <button @click="inputDigit(7)">7</button>
        <button @click="inputDigit(8)">8</button>
        <button @click="inputDigit(9)">9</button>
        <button class="operator" @click="setOperator('/')">/</button>
      </div>
      <div class="row">
        <button @click="inputDigit(4)">4</button>
        <button @click="inputDigit(5)">5</button>
        <button @click="inputDigit(6)">6</button>
        <button class="operator" @click="setOperator('*')">*</button>
      </div>
      <div class="row">
        <button @click="inputDigit(1)">1</button>
        <button @click="inputDigit(2)">2</button>
        <button @click="inputDigit(3)">3</button>
        <button class="operator" @click="setOperator('-')">-</button>
      </div>
      <div class="row">
        <button class="zero" @click="inputDigit(0)">0</button>
        <button @click="decimal()">.</button>
        <button class="operator" @click="setOperator('+')">+</button>
        <button class="operator" @click="calculate()">=</button>
      </div>
      <div class="row">
        <button @click="clear()">C</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      displayValue: '0',
      operator: null,
      firstOperand: null,
      waitingForSecondOperand: false,
    };
  },
  methods: {
    inputDigit(digit) {
      if (this.waitingForSecondOperand) {
        this.displayValue = digit.toString();
        this.waitingForSecondOperand = false;
      } else {
        this.displayValue =
          this.displayValue === '0' ? digit.toString() : this.displayValue + digit.toString();
      }
    },
    decimal() {
      if (this.waitingForSecondOperand) {
        this.displayValue = '0.';
        this.waitingForSecondOperand = false;
        return;
      }

      if (!this.displayValue.includes('.')) {
        this.displayValue += '.';
      }
    },
    clear() {
      this.displayValue = '0';
      this.operator = null;
      this.firstOperand = null;
      this.waitingForSecondOperand = false;
    },
    setOperator(operator) {
      this.operator = operator;
      this.firstOperand = parseFloat(this.displayValue);
      this.waitingForSecondOperand = true;
    },
    calculate() {
      const secondOperand = parseFloat(this.displayValue);

      if (this.operator === '+') {
        this.displayValue = (this.firstOperand + secondOperand).toString();
      } else if (this.operator === '-') {
        this.displayValue = (this.firstOperand - secondOperand).toString();
      } else if (this.operator === '*') {
        this.displayValue = (this.firstOperand * secondOperand).toString();
      } else if (this.operator === '/') {
        this.displayValue = (this.firstOperand / secondOperand).toString();
      }

      this.operator = null;
      this.firstOperand = null;
      this.waitingForSecondOperand = false;
},
},

};
</script>

<style>
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: Arial, sans-serif;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #eee;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6ed06e;
}

button:active {
  transform: translateY(2px);
}

.operator {
  background-color: #f44336;
}

.zero {
  width: 160px;
}
</style>